<div id="camera">

</div>
<h1>{{ loading }}</h1>
<h2>Augmented Reality - Tester</h2>
<script src='assets/ar-app/ar/js/three.js'></script>
<script src='assets/ar-app/ar/js/MTLLoader.js'></script>
<script src='assets/ar-app/ar/js/OBJLoader.js'></script>
	<!-- include jsartookit -->
	<script src="assets/ar-app/ar/jsartoolkit5/artoolkit.min.js"></script>
	<script src="assets/ar-app/ar/jsartoolkit5/artoolkit.api.js"></script>
	<!-- include threex.artoolkit -->
	<script src="assets/ar-app/ar/threex/threex-artoolkitsource.js"></script>
	<script src="assets/ar-app/ar/threex/threex-artoolkitcontext.js"></script>
	<script src="assets/ar-app/ar/threex/threex-arbasecontrols.js"></script>
	<script src="assets/ar-app/ar/threex/threex-armarkercontrols.js"></script>
	