<div style="color:black;">
    <div>
        <div class="btn-group" role="group" aria-label="..." style="margin: 10px;">
            <a class="btn btn-primary dock-link" v-on:click="navigate()">New Product</a>
        </div>
    </div>
    
    <div class="people-list">
      <div class="row">
        
        <div class="col-md-6" v-for="profile in items">
          <div class="people-item">
            <div class="media">
              
                <img alt="" :src="profile.image" class="pull-left thumbnail media-object">
                <div class="media-body">
                <h4 class="person-name">{{ profile.name }}</h4>
                <div class="text-muted"><i class="fa fa-briefcase"></i> {{ profile.catogory }}</div>
                <div class="text-muted"><i class="fa fa-cubes"></i> {{ profile.uom }} </div>
                <div class="text-muted" ><i class="fa fa-usd"></i>  {{ profile.price }}</div>
                <div class="text-muted"><i class="fa fa-user-circle"></i> <p v-html="profile.caption"></p></div>
                <div class="btn-group pull-right" role="group" aria-label="..." style="margin: 10px;">
                  <!-- <a class="btn btn-primary" :href="'./viewproduct?productid=' + profile.itemid"><span class="glyphicon glyphicon-pencil"></span> Edit</a> -->
                  <a class="btn btn-primary" v-on:click="navigate(profile.itemid)"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                  <a class="btn btn-primary" v-on:click="deleteProduct(profile)" style="cursor:pointer;"> <span class="glyphicon glyphicon-remove"></span> Delete</a>
              </div>
              </div>
            </div>
          </div>
        </div><!-- col-md-6 -->
      </div>
    </div>
</div>
 

