.profile {
  
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  height: calc(100vh - 130px);
  transition: all .4s;
  
}



.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all .5s;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  height: calc(100vh - 60px);
  overflow: hidden scroll;
}

.hide{
  display: none;
}

.img-thumbnail {
  padding: .25rem;
  background-color: #f7f7ff;
  border: 1px solid #f0eff5;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.rounded-circle {
  border-radius: 50%!important;
}

.avatar-lg {
  height: 6rem;
  width: 6rem;
}

.avatar-xs {
  height: 2.2rem;
  width: 2.2rem;
}

.profile-user .profile-photo-edit {
  position: absolute;
  right: 0;
  bottom: 0;
}

.font-size-14 {
  font-size: 14px!important;
}

.font-size-13 {
  font-size: 13px!important;
}

.profile-leftsidebar {
  height: calc(100vh - 50px);
  background-color: var(--formBackColor);
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  visibility: visible;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  padding: 0!important;
}

.profile-user {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

.app_title{
  width: 100%;
  text-align: center;
}

.app_close{
  display: none;
}
@media only screen and (max-width: 600px) {

  .app_title{
    width: calc(100vw - 5px);
    text-align: center;
  }
  
  .app_close{
    width: 5px;
    display: inline;
  }

  .profile-content {
    padding: 5px;
    z-index: 100002;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .profile-content-show {
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .profile-content-hide {
    visibility: hidden;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  
}