<div style="color:black;">
    <div>
        <div class="btn-group" role="group" aria-label="..." style="margin: 10px;">
            <a class="btn btn-primary" v-on:click="navigate(null)">New Broadcast</a>
        </div>
    </div>
    <br/><br/><br/>


  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Created Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" :class="item.status==='new'?'table-secondary':'table-info'">
        <td >{{ item.id }}</td>
        <td>{{ item.scheduled_date }}</td>
        <td>{{ item.status }}</td>
        <td><a class="btn btn-primary" v-on:click="navigate(item.id)">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
