<div class="row carousel-holder col-md-9 col-centered" >
	<div class="main-login main-center" style="margin-top:50px;">
		<form class="form-horizontal" method="post" action="#" style="margin:50px;visibility:collapse;" id="idMobileLogin" >
			<div class="main-login main-center">             
				<h5>Please enter your information to register with raha.lk</h5>
			</div>			
			<div class="form-group">
				<label for="name" class="cols-sm-2 control-label">Your Name</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name" v-model="user.name"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="cols-sm-2 control-label">Your Email</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
						<input type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email" v-model="user.email"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="cols-sm-2 control-label">Contact Number</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-phone" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="email" id="email" maxlength="10"  placeholder="Enter your contact number" v-model="profile.contactno1"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="cols-sm-2 control-label">Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" v-model="user.password"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" v-model="user.confirmpassword"/>
					</div>
				</div>
			</div>

			<div class="form-group" style="margin-top:50px;">
				<button type="button" class="btn btn-primary btn-lg btn-block login-button" v-on:click="saveUser">Register</button>
			</div>
		</form>
	</div>
	</div>
</div>