<div style="color:black;">
    <div>
        <div class="btn-group" role="group" aria-label="..." style="margin: 10px;">
            <a v-on:click="navigate()" class="btn btn-primary">New Uom</a>
        </div>
    </div>
    <br/><br/><br/>


  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items">
        <td>{{ item.name }}</td>
        <td>
            <div class="btn-group pull-right" role="group" aria-label="..." style="margin: 10px;">
                <a class="btn btn-primary" v-on:click="navigate(item.id)" ><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-primary" href=""> <span class="glyphicon glyphicon-remove"></span> Delete</a>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>