<div class="">
	<div id="camera">
		<h1>Load Camara</h1>
	</div>

</div>
<a class="btn btn-primary" v-on:click="navigateBack()" ><span class="glyphicon glyphicon-pencil"></span> Edit</a>
<script src='assets/ar-app/ar/js/three.min.js'></script>
<script src='assets/ar-app/ar/js/GLTFLoader.js'></script>
	<!-- include jsartookit -->
	<script src="assets/ar-app/ar/jsartoolkit5/artoolkit.min.js"></script>
	<script src="assets/ar-app/ar/jsartoolkit5/artoolkit.api.js"></script>
	<!-- include threex.artoolkit -->
	<script src="assets/ar-app/ar/threex/threex-artoolkitsource.js"></script>
	<script src="assets/ar-app/ar/threex/threex-artoolkitcontext.js"></script>
	<script src="assets/ar-app/ar/threex/threex-arbasecontrols.js"></script>
	<script src="assets/ar-app/ar/threex/threex-armarkercontrols.js"></script>
	