<header v-show="id==0" class="masthead">
  <div class="hero-image">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-white text-uppercase" v-html="titlepage.title"></h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5" v-html="titlepage.caption"> Is a ministry providing biblical hope and practical help for everyday problems. </h2>
      <hr>
      <p >
        QTI assists Sri Lankan families with a variety of student services. Our Guardian program is a professional, full service with many years of experience caring for international students. We provide prompt, friendly service to students by finding a sponsor who can sponsor for their higher studies. </br></br>
        A scholarship can give you financial support, work experience, or networking benefits. Students could receive money to help with course fee, living costs and university supplies, opportunities to work on great projects, practical work experience, or an introduction to industry professionals.</br></br>
        Visit and view our list of ambitious students with highest extra and co-curricular activities whom are seeking for financial aids.</br> 
      </p>
      <hr>
      <a :href="titlepage.buttonuri" class="btn bg-primary-button">{{ titlepage.buttoncaption }}</a>
    </div>
  </div>
</header>
<header v-show="id!=0" class="masthead"> 
  <div>
  </br>
  </div>
</header>




