<footer id="idFooter">
    <div class="container">
       <div class="row socialFooterText">
            <!--div class="col-md-4 ">
                <h4>Store Location</h4>
                <p>No. 7A-1/1, Deanstone Place,</p>
                <p>Colombo 03.</p>
            </div-->

            <div class="col-md-4">
                <h4 style="font-size:16px;font-weight:bold;">Delivery Hours</h4>
                <div style="text-align:left;font-size:12px;">
                    <p>Working Days 10AM - 2PM</p>
                    <p>Closed on weekends & Mercantile Holidays</p>
                </div>
            </div>
            
            <div class="col-md-4">
                <h4 class="pull-middle" style="font-size:16px;font-weight:bold;">Let's Connect</h4>
                <a href="https://www.facebook.com/rahalk"><img src="assets/romashop/img/social/facebook.svg" class="socialFooter"/></a>
                <a href="https://plus.google.com"><img src="assets/romashop/img/social/plus.svg" class="socialFooter"/></a>
                <a href="mailto:info@raha.lk"><img src="assets/romashop/img/social/email.svg" class="socialFooter"/></a>
                <!--img src="assets/raha/img/social/youtube.svg" class="socialFooter"/>
                <img src="assets/raha/img/social/twitter.svg" class="socialFooter"/>
                <img src="assets/raha/img/social/linkedin.svg" class="socialFooter"/-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pull-middle socialFooterText" style="text-align:center;margin-top:25px;font-size:10px;">
                <p style="bottom:0px">Copyright &copy; romashop.lk 2017 | Powered by <a href="http://davvag.com"> davvag.com</a></p>
            </div>
        </div>
    </div>

</footer>
