<div v-if="linked==3" class="row">
  
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Thank You</h1>
            <h2>
                Your Your stripe Account has been successfully Linked</h2>
            <div class="error-details">
               
            </div>
            <div class="error-actions">
                <a :href="header.buttonuri" class="btn bg-primary-button btn-lg"><span class="fa fa-home"></span>
                    Take Me Home </a>
            </div>
        </div>
    
</div>
</div>
<div v-if="linked==2" class="row">
  
  <div class="col-md-12">
      <div class="error-template">
          <h1>Stripe Account has been already Linked</h1>
          <div class="error-details">
             
          </div>
          <div class="error-actions">
            <button  class="btn bg-primary-button btn-block" v-on:click="change">Change</button>
            <button  class="btn bg-primary-button btn-block" v-on:click="escape">Next</button>
          </div>
      </div>
  
</div>
</div>
<div v-if="linked==4" class="row">
  
  <div class="col-md-12">
      <div class="error-template">
          <h1>Please Wait</h1>
          <div class="error-details">
             Getting Stripe Information
          </div>
          <div class="error-actions">
            
          </div>
      </div>
  
</div>
</div>
<div v-if="linked==0" :class="css_main">
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Stripe Setup</h1>
  <hr>
  <div class="input-error">
    <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
      <strong>ERROR! </strong> {{error}}
    </div>
    <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
        <strong>INFO! </strong> {{error}}
      </div>
  </div>
  <form id="form-details" onsubmit="event.preventDefault();">
    <div class="form-group">
      <label for="name">Publishable key</label>
      <input type="input" class="form-control" id="stripeKey" aria-describedby="nameHelp" placeholder="Stripe Publishable key" v-model="data.stripeKey">
      <small id="nameHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="name">Secret key</label>
      <input type="input" class="form-control" id="SecretKey" aria-describedby="nameHelp" placeholder="Stripe Secret key" v-model="data.stripeSecretKey">
      <small id="nameHelp" class="form-text text-muted"></small>
    </div>
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> This is to varify The keys and GBP. 0.50 will be taken by your stripe account</h1>
    <hr>
    <div class="form-group">
      <label for="name">Card Holder Name</label>
      <input type="input" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Card holders Name" v-model="data.name">
      <small id="nameHelp" class="form-text text-muted"></small>
    </div>
    <div class="field-row">
      <label>Card Number</label> <span id="card-number-info"
          class="info"></span><br> <input type="text" id="card-number"
          name="card-number" class="form-control" v-model="data.cardnumber">
  </div>
    <div class="form-group">
      <label>Email</label> <span id="email-info" class="form-control">{{ data.email }}</span><br>
      
  </div>
  <div class="form-group">
    <label>Amount</label> <span id="email-info" class="form-control">{{ data.amount }}</span><br>
    
</div>
  <div class="field-row">
    <div class="contact-row column-right">
        <label>Expiry Month / Year</label> <span id="userEmail-info"
            class="info"></span><br> <select name="month" id="month"
            class="demoSelectBox" v-model="data.month">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select> <select name="year" id="year"
            class="demoSelectBox" v-model="data.year">
            <option value="14">2014</option>
            <option value="15">2015</option>
            <option value="16">2016</option>
            <option value="17">2017</option>
            <option value="18">2018</option>
            <option value="19">2019</option>
            <option value="20">2020</option>
            <option value="21">2021</option>
            <option value="22">2022</option>
            <option value="23">2023</option>
            <option value="24">2024</option>
            <option value="25">2025</option>
            <option value="26">2026</option>
            <option value="27">2027</option>
            <option value="28">2028</option>
            <option value="29">2029</option>
            <option value="30">2030</option>
        </select>
    </div>
    <div class="contact-row cvv-box">
        <label>CVC</label> <span id="cvv-info" class="info"></span><br>
        <input type="text" name="cvc" id="cvc"
            class="demoInputBox cvv-input" v-model="data.cvc">
    </div>
  </div>
   
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="data.checkbox">
      <label class="form-check-label" for="exampleCheck1">I Agree</label>
      <small id="nameHelp" class="form-text text-muted">I confirm this my strip account and will be resposible for all the transaction and orders paid to my stripe accounts.</small>
    </div>
    <button  class="btn bg-primary-button btn-block" v-on:click="submit">Link my Stripe Now</button>
  </form>
  </div>
 
  
  <script src="https://js.stripe.com/v2/"></script>