<div class="input-form">
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Select a payment Method</h1>
<hr>
<div class="input-error">
  <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
    <strong>ERROR! </strong> {{error}}
  </div>
  <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
      <strong>INFO! </strong> {{error}}
    </div>
</div>
<ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
  <li class="nav-item" v-for="item in data">
		<button class="nav-link active" :style="'background: url('+item.iconurl+')'">
		<img :src="item.iconurl"> {{ item.name }}</button></li>
	<li class="nav-item">
		<a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
		<i class="fa fa-credit-card"></i> Credit Card</a></li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
		<i class="fab fa-paypal"></i>  Paypal</a></li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
		<i class="fa fa-university"></i>  Bank Transfer</a></li>
</ul>
</div>