<form style="color:black;">
  <a v-on:click="navigateBack()">Back</a>
  <div class="form-group">
    <label for="exampleInputEmail1">Category ID</label>
    <input type="number" class="form-control" id="textItemId" aria-describedby="emailHelp" v-model="product.id"  disabled="disabled">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Category Name</label>
    <input type="text" class="form-control" id="textProductName" v-model="product.name">
  </div>
  <div>
    <p v-if="submitErrors" v-for="error in submitErrors" class = "alert alert-danger"> {{error}} </p>
  </div>
  <button id="send" class="btn btn-primary" v-on:click="submit">Submit</button>
</form>