<div style="color:black;">
    <div>
        <div class="btn-group" role="group" aria-label="..." style="margin: 10px;">
            <a v-on:click="navigate()" class="btn btn-primary">New Artical</a>
        </div>
    </div>
    <br/><br/><br/>


  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Title</th>
        <th>Featured</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items">
        <td>{{ item.id }}</td>
        <td>{{ item.createdate }}</td>
        <td>{{ unescape(item.title) }}</td>
        <td>
          <label class="radio-inline" for="feature-0">
            Yes<input type="radio" id="feature-0" value="y" :name="'feature'+item.id" v-model="item.boost">
          </label> 
          <label class="radio-inline" for="feature-1">
            No<input type="radio" id="feature-1" value="n" :name="'feature'+item.id" v-model="item.boost">
          </label> 
        </td>
        <td>
            <div class="btn-group pull-right" role="group" aria-label="..." style="margin: 10px;">
                <a class="btn btn-primary" v-on:click="navigate(item.id)" ><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-primary" href=""> <span class="glyphicon glyphicon-remove"></span> Delete</a>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>