<!-- Footer -->
<footer class="page-footer">
    <!-- Footer Elements -->
    <div class="container">
            <!-- Grid row-->
            <div class="row">
                 
                    <table id="id-social-table">
                            <tr>
                          <td align="center" v-for="sbutton in SocailButtons" class="social-icons">
                              <a :data-original-title="sbutton.Name" rel="tooltip" :class="sbutton.other"  :href="sbutton.url" >
                                      {{ sbutton.Caption }}</a>
                                    </td>
                      
                                </tr>
                              </table>
                  
                 
                  
                  
              </div>
          
        </div>
    
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: {{ CompanyInfo.name }} Powered by <a href="http://www.davvag.com" class="id-copyright-link"> Davvag CMS Engine 1.0v</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->