<div class="container">
  <div class="row">
      <div class="col-md-3 col-sm-6" v-for="item in products">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#">
                      <img class="pic-1" :src="'components/dock/soss-uploader/service/get/products/'+item.itemid+'-'+item.imgurl">
                  </a>
                  <ul class="social">
                      <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                      <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                      <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                  <span class="product-new-label" v-if="item.discountper>0">Sale</span>
                  <span class="product-discount-label" v-if="item.discountper>0">{{ item.discountper }}%</span>
              </div>
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star disable"></li>
              </ul>
              <div class="product-content">
                  <h3 class="title"><a href="#">{{ item.name }}</a></h3>
                  <div class="price">{{ item.currencycode }}. {{ item.price+(item.price*(item.discountper/100)) }}
                      <span v-if="item.discountper>0">{{ item.currencycode }}.{{ item.price }}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>