<div class="container">
  <div class="row profile">
  <div class="col-md-4">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img :src="image" class="img-responsive" alt="">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
    
      <div style="padding-bottom: 30px;">
        <table>
          <tr>
            <th>Name:</th>
            <td>{{ item.name }}</td>
        </tr>
          <tr>
              <th>Date of Birth:</th>
              <td>{{ item.dateofbirth | dateformate }}</td>
          </tr>
          <tr>
            <th>Course of study:</th>
            <td>{{ attributes.course }}</td>
          </tr>
          <tr>
              <th>Academic Year:</th>
              <td>{{ attributes.academic_year }}</td>
          </tr>
          <tr>
            <th>Scholarship:</th>
            <td>{{ attributes.scholarship }}</td>
          </tr>
          <tr>
            <th>Course Fee Balnace (USD):</th>
            <td>{{ Summary.outstanding | formatMoney }}</td>
          </tr>
          
          
          
      </table> 
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <div style="padding-bottom: 40px;">
        <button type="button" class="form-control btn bg-primary-button" v-on:click="navDonate(item.id)">Donate</button>
        <button type="button" class="form-control btn bg-primary-button" v-on:click="navBack">Back</button>
      </div>
      <!-- END SIDEBAR BUTTONS -->
      <!-- SIDEBAR MENU -->
      <!-- END MENU -->
    </div>
  </div>
  <div class="col-md-8">
          
          <br/>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">GCE O/L Results & School:</h5>
              <p class="card-text">{{ attributes.gceol }}</p>
            </div>
          </div>
          <br/>
          <div class="card" style="padding-top: 30px;">
            <div class="card-body">
              <h5 class="card-title">GCE A/L Results & School :</h5>
              <p class="card-text">{{ attributes.gceal }}</p>
            </div>
          </div>
          <br/>
          <div class="card" style="padding-bottom: 30px;">
            <div class="card-body">
              <h5 class="card-title">Z Score :</h5>
              <p class="card-text">{{ attributes.zscore }}</p>
            </div>
          </div>
          <br/>
          <div class="card" style="padding-bottom: 30px;">
            <div class="card-body">
              <h5 class="card-title">Ambition</h5>
              <p class="card-text">{{ attributes.ambition }}</p>
            </div>
          </div>
          <br/>
          <div class="card" style="padding-bottom: 30px;">
            <div class="card-body">
              <h5 class="card-title">Why this student needs scholarship</h5>
              <p class="card-text">{{ attributes.scholarshipdes }}</p>
            </div>
          </div>
          
          
          
  </div>
</div>
</div>