<div style="color:black;">
    <div>
        <div class="btn-group" role="group" aria-label="..." style="margin: 10px;">
            <a v-on:click="navigate('/catall')" class="btn btn-primary">Artical Catogory</a>
            <a v-on:click="navigate('/articalall')" class="btn btn-primary">Articals</a>
            <a v-on:click="navigate('/buttonsall')" class="btn btn-primary">Buttons</a>
            <a v-on:click="navigate('/cardsall')" class="btn btn-primary">Cards</a>
            <a v-on:click="navigate('/settings')" class="btn btn-primary">Settings</a>
        </div>
    </div>
</div>