<header class="masthead">
  <div class="hero-image">
    <div class="mx-auto text-center">
      <br/><br/><br/><br/>
      <h1 class="mx-auto my-0 text-white text-uppercase" v-html="titlepage.title"></h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5" v-html="titlepage.caption"> Is a ministry providing biblical hope and practical help for everyday problems. </h2>
      <a href="#about" class="btn btn-primary js-scroll-trigger">{{ titlepage.buttoncaption }}</a>
      <br/><br/><br/><br/>
    </div>
  </div>
</header>

<div class="row blogCard">
        <div class="col-sm-4 col-sm-offset-1 blogShortContainer" v-for="item in Articals">
          <div class="blogShort">
            <a :href="'#/app/davvag-cms-generalapps/a?id='+item.id"><h3 class="articleTitlte">{{ unescape(item.title) }}</h3></a>
            <img v-if="item.imgname" :src="'components/dock/soss-uploader/service/get/d_cms_artical/'+item.id+'-'+item.imgname" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail2">
            
            <em class="card-date">{{ item.createdate | dateformate }}</em>
            <article class="articalHight" v-html="marked(unescape(item.summery))"></article>
            <a class="pull-right marginBottom10 read-more-link" :href="'#/app/davvag-cms-generalapps/a?id='+item.id">READ MORE</a> 
          </div>    
         </div>
        
</div>

</br>






