<div class="comments-box"  id="message_data">
 
    <div class="comments" v-for="c in messages">
      <div v-if="c.m_from==c.userboxid" class="col-auto" ><img :src="'components/dock/soss-uploader/service/get/profile/'+c.userboxid" class="comments-icon" alt=""></div>
      <div v-if="c.m_from==c.userboxid" class="col-auto" style="width: calc(100% - 60px);text-align: left;">{{ c.messagetext }}</div>
      <div v-if="c.m_from==c.inboxid" class="col-auto" style="width: calc(100% - 60px);text-align: right;">{{ c.messagetext }}</div>
      <div v-if="c.m_from==c.inboxid" class="col-auto" ><img :src="'components/dock/soss-uploader/service/get/profile/'+c.inboxid" class="comments-icon" alt=""></div>
    </div>
  
  
</div>
<div class="form-row align-items-center" style="padding-top: 5px;">
  <div class="col-auto" style="width: 40px;"><img :src="'components/dock/soss-uploader/service/get/profile/'+profile.id" class="comments-icon" alt=""></div>
  <div class="col-auto" style="width: calc(100% - 150px);"><textarea v-model="message"  maxlength="500" style="width: 100%;height: 50px;" v-on:keyup="textOnChage" v-on:focus="textOnChage"></textarea></div>
  <div class="col-auto" style="width: 100px;"><button v-on:click="send(message)" class="btn btn-primary" style="width: 100px;height: 50px;">Send</button></div>
</div>
<div class="form-row align-items-center">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col" style="text-align: right;">{{ TextLength }} / 500</div>
</div>