<div class="container" id="idOrderWizard">
    <div class="row checkout-top-margin-row">

    </div>

    <div class="col-md-8 text-center">
        <!--a href="#/home"><div class="fabButton showMobile" style="background-image: url('assets/raha/img/gograb.png');"></div></a-->
        <h2>Thank you for ordering your lunch from us. Enjoy your meal...!</h2>
        <br/>
        <h2 v-if="deliverToday">Your order will be dispatched shortly.</h2>
        <h2 v-if="!deliverToday">Your order will be dispatched on the next day.</h2>
        <br/>
        <h3><a href="#/home" class="">Go To Home</a></h3>
    <div>
</div>
